xml-resources/web-service-references/Servicio/wsdl/localhost_53188/Servicio.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Capa.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Capa.Entities"><xs:complexType name="Usuario"><xs:sequence><xs:element minOccurs="0" name="Cod_User" type="xs:decimal"/><xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Tipo_User" type="xs:decimal"/><xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Usuario" nillable="true" type="tns:Usuario"/></xs:schema>