xml-resources/web-service-references/Servicio/wsdl/localhost_53188/Servicio.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Capa.Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Capa.Negocio"><xs:complexType name="UsuarioDAO"><xs:sequence><xs:element minOccurs="0" name="Cod_User" type="xs:decimal"/><xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Tipo_User" type="xs:decimal"/><xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="UsuarioDAO" nillable="true" type="tns:UsuarioDAO"/><xs:complexType name="Funcionario"><xs:sequence><xs:element minOccurs="0" name="Ap_Materno" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Ap_Paterno" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Cod_Funcionario" type="xs:int"/><xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Nombre_Funcionario" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Telefono" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="Funcionario" nillable="true" type="tns:Funcionario"/></xs:schema>